/* index */
.header-list {
  display: flex;
}
.header-contacts {
  display: flex;
}
.features-list {
  display: flex;
  justify-content: space-between;
}
.work-list {
  display: flex;
  justify-content: space-between;
}
.command-list {
  display: flex;
  justify-content: space-between;
}
/* portfolio */
.pages-list {
  display: flex;
}
.products-list {
  display: flex;
  justify-content: space-between;
}
