@charset "UTF-8";
a {
  color: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  outline: transparent solid;
}

.grid-list {
  display: flex;
  justify-content: center;
  gap: var(--grid-gap);
}

.grid-item {
  width: calc((100% - var(--grid-gap) * var(--cards)) / var(--cards));
}

body {
  font-family: Roboto;
}

.header {
  padding-top: 23px;
  padding-bottom: 24px;
  border: 1px solid #ececec;
}
.header__box {
  display: flex;
  align-items: center;
}
.header__logo {
  color: #2196f3;
  margin-right: 93px;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.header__logocolor {
  color: #000;
}
.header__navagation {
  margin-right: auto;
}
.header__list {
  display: flex;
  gap: 50px;
}
.header__link:hover {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__item {
  position: relative;
}
.header__link::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 2px;
  width: 100%;
  margin-top: 27px;
  height: 4px;
  justify-content: center;
  background-color: #2196f3;
}
.header__link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.header__contact__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__contacts__icon {
  fill: #afb1b8;
  margin-right: 10px;
  align-items: center;
}
.pages {
  padding-top: 94px;
  padding-bottom: 50px;
}

.pages-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.pages-button {
  color: #212121;
  background-color: #f5f4fa;
  display: block;
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: none;
  padding: 6px 25px;
}

.pages-button:hover {
  background-color: #2196f3;
  color: #f5f4fa;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.products {
  padding-bottom: 94px;
}

.products-list {
  --grid-gap: 30px;
  flex-wrap: wrap;
}

.products-item {
  background-color: #fff;
  border: 1px solid #eee;
  position: relative;
  margin-bottom: 30px;
  width: 370px;
  height: 404px;
  --cards: 9;
}

.products-item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.product-overlay {
  position: relative;
  width: 370px;
  height: 294px;
  margin: 0 auto;
  background-color: #bdbdbd;
  overflow: hidden;
}

.product-position {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-overlay:hover .product-position {
  transform: translatey(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-text {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  width: 322px;
}

.products-photo {
  margin-bottom: 20px;
  align-items: center;
}

.products-name {
  color: #212121;
  padding-left: 24px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.proвuct-description {
  color: #afb1b8;
  padding-left: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

.footer {
  background-color: #2f303a;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__address {
  color: #f5f4fa;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  font-style: normal;
}
.footer__link {
  color: #afb1b8;
  margin-top: 9px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer__link:hover {
  color: #2196f3;
}
.footer__logo {
  color: #2196f3;
  margin-right: 93px;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.footer__studio {
  color: #fff;
}
.footer__icons__box {
  margin-top: 12px;
}
.footer__icons__text {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__icons__list {
  display: flex;
  gap: 10px;
}
.footer__icons__list__item {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer__icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}
.footer__icons {
  fill: #fff;
  width: 20px;
  height: 20px;
}
.footer__icons__list__item:hover {
  background-color: #2196f3;
}
.footer__form {
  padding-top: 12px;
  margin-left: 80px;
}
.footer__form__title {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__form__container {
  display: flex;
  gap: 12px;
}
.footer__form__input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0.01);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 16px;
  width: 358px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}
.footer__form__input:focus {
  outline: none;
  border: 1px solid #2196f3;
}
.footer__form__input::-moz-placeholder {
  color: #afb1b8;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}
.footer__form__input::placeholder {
  color: #afb1b8;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}
.footer__form__button {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  padding: 10px 28px;
  background-color: #2196f3;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
}
.footer__form__button:hover, .footer__form__button:focus {
  background-color: #2196f3;
}
.footer__form__icon {
  fill: #fff;
}
.footer .flex {
  display: flex;
}/*# sourceMappingURL=portfolio.css.map */