@charset "UTF-8";
a {
  color: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  outline: transparent solid;
}

.grid-list {
  display: flex;
  justify-content: center;
  gap: var(--grid-gap);
}

.grid-item {
  width: calc((100% - var(--grid-gap) * var(--cards)) / var(--cards));
}

body {
  font-family: Roboto;
}

:root {
  --comandname: #212121;
  --comandtext: #757575;
  --whatdobg: #2f303a;
  --wathbt: white;
  --wathbtbg: #2196f3;
  --comandbg: #f5f4fa;
  --hedermail: #757575;
  --fotermail: #afb1b8;
  --portfoliobutton: #f5f4fa;
  --studio: #000;
  --bghero: #2f303a;
  --border-color: #eee;
  --pf-bg: #fff;
  --hd-border: #ececec;
  --grid-gap: 50px;
  --cards: 3;
}

.header {
  padding-top: 23px;
  padding-bottom: 24px;
  border: 1px solid var(--hd-border);
}

.hd-box {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--wathbtbg);
  margin-right: 93px;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.logocolor {
  color: var(--studio);
}

.header-navagation {
  margin-right: auto;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-link:hover {
  color: var(--wathbtbg);
}

.header-link {
  color: var(--comandname);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.header-contacts-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-contacts-icon {
  fill: var(--comandtext);
  margin-right: 10px;
}

.header-contacts-icon:hover {
  fill: var(--wathbtbg);
}

.contact-link {
  color: var(--comandtext);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.contact-link:hover {
  color: var(--wathbtbg);
}

.pages {
  padding-top: 94px;
  padding-bottom: 50px;
}

.pages-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.pages-button {
  color: var(--comandname);
  background-color: var(--portfoliobutton);
  display: block;
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: none;
  padding: 6px 25px;
}

.pages-button:hover {
  background-color: var(--wathbtbg);
  color: var(--comandbg);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.products {
  padding-bottom: 94px;
}

.products-list {
  --grid-gap: 30px;
  flex-wrap: wrap;
}

.products-item {
  background-color: var(--pf-bg);
  border: 1px solid var(--border-color);
  position: relative;
  margin-bottom: 30px;
  width: 370px;
  height: 404px;
  --cards: 9;
}

.products-item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.product-text {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.556%;
  letter-spacing: 0.54px;
  opacity: 0;
  z-index: 2;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 294px;
  top: 0;
  left: 0;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0, -100%, 0);
}

.product-position {
  position: relative;
}

.product-position:hover .product-text {
  opacity: 1;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.556%;
  letter-spacing: 0.54px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-photo {
  margin-bottom: 20px;
  align-items: center;
}

.products-name {
  color: var(--comandname);
  padding-left: 24px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.proвuct-description {
  color: var(--comandtext);
  padding-left: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

.last {
  background-color: var(--whatdobg);
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  color: var(--comandbg);
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  font-style: normal;
}

.footer-link {
  color: var(--comandtext);
  margin-top: 9px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.footer-link:hover {
  color: var(--wathbtbg);
}

.footer-icons-box {
  margin-top: 12px;
}

.logofooter {
  color: var(--wathbt);
}

.footer-icon-list {
  display: flex;
  gap: 10px;
}

.footer-icons-text {
  color: var(--pf-bg);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-icons-list {
  display: flex;
  gap: 10px;
}

.footer-icons-list-item {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}

.footer-icons {
  fill: var(--pf-bg);
  width: 20px;
  height: 20px;
}

.footer-icons-list-item:hover {
  background-color: var(--wathbtbg);
}

.footer-form {
  padding-top: 12px;
  margin-left: 80px;
}

.footer-form-title {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-form-container {
  display: flex;
  gap: 12px;
}

.footer-form-input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0.01);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 16px;
  width: 358px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}

.footer-form-input:focus {
  outline: none;
  border: 1px solid var(--wathbtbg);
}

.footer-form-input::-moz-placeholder {
  color: var(--commandtext);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}

.footer-form-input::placeholder {
  color: var(--commandtext);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}

.footer-form-button {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  padding: 10px 28px;
  background-color: var(--wathbtbg);
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: var(--wathbtbg);
}

.footer-form-icon {
  fill: #fff;
}

.flex {
  display: flex;
}/*# sourceMappingURL=portfolio-maib.css.map */