:root {
  --comandname: #212121;
  --comandtext: #757575;
  --whatdobg: #2f303a;
  --wathbt: white;
  --wathbtbg: #2196f3;
  --comandbg: #f5f4fa;
  --hedermail: #757575;
  --fotermail: rgba(255, 255, 255, 0.6);
  --portfoliobutton: #f5f4fa;
  --studio: #000;
  --bghero:#2F303A;
}
body {
  font-family: Roboto;
}
main {
  font-family: Roboto;
}
.logo {
  color: var(--wathbtbg);
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.logocolor{
  color: var(--studio);
}
.header-link:hover {
  color: var(--wathbtbg);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.header-link {
  color: var(--comandname);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.contact-link {
  color: var(--comandtext);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.contact-link:hover {
  color: var(--wathbtbg);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.hero-title {
  color: var(--wathbt);
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.36;
  letter-spacing: 2.64px;
}
.hero{
  background-color: var(--whatdobg);
}
.hero-button {
  color: var(--wathbt);
  background-color: var(--wathbtbg);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
}
.features-title {
  color: var(--comandname);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.42px;
}
.features-text {
  color: var(--comandtext);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.work-title {
  color: var(--comandname);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}
.command-name {
  color: var(--comandname);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}
.command-title {
  color: var(--comandname);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}
.command-text {
  color: var(--comandtext);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}
.address {
  color: var(--comandbg);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  font-style: normal;
}
.contacts-link {
  color: var(--comandbg);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.pages-button {
  color: var(--comandname);
  background-color: var(--portfoliobutton);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
}
.products-name {
  color: var(--comandname);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}
.proвuct-description {
  color: var(--comandtext);
  font-size: 16px;
  font-weight: 400;
  line-height:1.87;
  letter-spacing: 0.48px;
}
.pages-button:hover {
background-color: var(--wathbtbg);
} 
.last{
  background-color: var(--whatdobg);
}
.features {
  background-color: var(--wathbt);
}
.work {
  background-color: var(--wathbt);
}
.command {
  background-color: var(--portfoliobutton);
}
.logofooter {
  color: var(--wathbt);
}
