h1 {
    color: white;
}
    .hero {
    background-color:#2f303a;
    }
    header {
        background-color: #ffff;
    }
    a[href="mailto:info@devstudio.com"] {color: #2196f3;}
    a[href="tel:+380961111111"] {color: #757575;}
    button {
        background-color: #2196f3;
    }
    p {
        color: #757575;
    }
    h3 {
       color: #212121;
    }