:root {
  --comandname: #212121;
  --comandtext: #757575;
  --whatdobg: #2f303a;
  --wathbt: white;
  --wathbtbg: #2196f3;
  --comandbg: #f5f4fa;
  --hedermail: #757575;
  --fotermail: rgba(255, 255, 255, 0.6);
  --portfoliobutton: #f5f4fa;
  --studio: #000;
  --bghero: #2f303a;
  --border-color: #eee;
  --pf-bg: #fff;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  outline: transparent solid;
}
body {
  font-family: Roboto;
}
.header {
  padding-top: 23px;
  padding-bottom: 24px;
}
.logo {
  color: var(--wathbtbg);
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.logocolor {
  color: var(--studio);
}
.header-link:hover {
  color: var(--wathbtbg);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.header-link {
  color: var(--comandname);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.contact-link {
  color: var(--comandtext);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.contact-link:hover {
  color: var(--wathbtbg);
}
.hero-title {
  color: var(--wathbt);
  text-align: centerx1;
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.36;
  letter-spacing: 2.64px;
}
.hero {
  background-image: url(../image/heroimg.png);
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-button {
  color: var(--wathbt);
  background-color: var(--wathbtbg);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
}
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-title {
  color: var(--comandname);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.42px;
}
.features-text {
  color: var(--comandtext);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.work {
  padding-bottom: 94px;
}
.work-title {
  color: var(--comandname);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}
.command {
  padding-top: 94px;
  padding-bottom: 94px;
}
.command-name {
  color: var(--comandname);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}
.command-item {
  background-color: var(--wathbt);
  width: 270px;
  height: 368px;
  text-align: center;
}
.command-title {
  color: var(--comandname);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}
.command-text {
  color: var(--comandtext);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}
.address {
  color: var(--comandbg);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  font-style: normal;
}
.footer-link {
  color: var(--comandtext);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer-link:hover {
  color: var(--wathbtbg);
}
.pages {
  padding-top: 94px;
  padding-bottom: 50px;
}
.pages-button {
  color: var(--comandname);
  background-color: var(--portfoliobutton);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
}
.products {
  padding-bottom: 94px;
}
.products-item {
  background-color: var(--pf-bg);
  border: 1px solid var(--border-color);
  width: 370px;
  height: 404px;
}
.products-name {
  color: var(--comandname);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}
.proвuct-description {
  color: var(--comandtext);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}
.pages-button:hover {
  background-color: var(--wathbtbg);
  color: var(--comandbg);
}
.last {
  background-color: var(--whatdobg);
  padding-top: 60px;
  padding-bottom: 60px;
}
.features {
  background-color: var(--wathbt);
}
.work {
  background-color: var(--wathbt);
}
.command {
  background-color: var(--portfoliobutton);
}
.logofooter {
  color: var(--wathbt);
}
