.header {
  padding-top: 23px;
  padding-bottom: 24px;
  border: 1px solid var(--hd-border);
}

.hd-box {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--wathbtbg);
  margin-right: 93px;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.logocolor {
  color: var(--studio);
}

.header-navagation {
  margin-right: auto;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-link:hover {
  color: var(--wathbtbg);
}

.header-link {
  color: var(--comandname);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.header-contacts-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-contacts-icon {
  fill: var(--comandtext);
  margin-right: 10px;
}

.header-contacts-icon:hover {
  fill: var(--wathbtbg);
}

.contact-link {
  color: var(--comandtext);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.contact-link:hover {
  color: var(--wathbtbg);
}
