$comandname: #212121;
$comandtext: #757575;
$whatdobg: #2f303a;
$wathbt: white;
$wathbtbg: #2196f3;
$comandbg: #f5f4fa;
$hedermail: #757575;
$fotermail: #afb1b8;
$portfoliobutton: #f5f4fa;
$studio: #000;
$bghero: #2f303a;
$border-color: #eee;
$pf-bg: #fff;
$hd-border: #ececec;
$grid-gap: 50px;
$cards: 3;
