.pages {
  padding-top: 94px;
  padding-bottom: 50px;
}
.pages-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.pages-button {
  color: $comandname;
  background-color: $portfoliobutton;
  display: block;
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: none;
  padding: 6px 25px;
}
.pages-button:hover {
  background-color: $wathbtbg;
  color: $comandbg;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
