.features {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $pf-bg;

  &__list {
    display: flex;
    gap: 30px;

    @media screen and (max-width: 1199px) {
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
      flex-direction: row;
    }
  }

  &__box {
    background: $portfoliobutton;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;

    @media screen and (min-width: 480px) {
      width: 450px;
    }
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__title {
    color: $comandname;
    margin-bottom: 10px;
    margin-top: 30px;
    @extend %text;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
      display: flex;
      justify-content: center;
    }
  }

  &__text {
    color: $comandtext;
    @extend %text;
    line-height: 1.71;

    @media screen and (min-width: 480px) {
      width: 450px;
    }

    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
}
