.header {
  padding-top: 23px;
  padding-bottom: 24px;
  border: 1px solid $hd-border;
}

.hd-box {
  display: flex;
  align-items: center;
}

.logo {
  color: $wathbtbg;
  margin-right: 93px;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.logocolor {
  color: $studio;
}

.header-navagation {
  margin-right: auto;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-link:hover {
  color: $wathbtbg;
}

.header-item {
  position: relative;
}

.header-line::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 2px;
  width: 100%;
  margin-top: 27px;
  height: 4px;
  justify-content: center;
  background-color: $wathbtbg;
}

.header-link {
  color: $comandname;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.header-contacts-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-contacts-icon {
  fill: $comandtext;
  margin-right: 10px;
}

.header-contacts-icon:hover {
  fill: $wathbtbg;
}

.contact-link {
  color: $comandtext;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.contact-link:hover {
  color: $wathbtbg;
}
