.header {
  padding-top: 23px;
  padding-bottom: 24px;
  border: 1px solid $hd-border;

  &__box {
    display: flex;
    align-items: center;
  }

  &__logo {
    color: $wathbtbg;
    margin-right: 93px;
    font-family: Raleway;
    @extend %text-logo;

    @media screen and (max-width: 320px) {
      margin-right: 0;
    }
  }

  &__logocolor {
    color: $studio;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media screen and (min-width: 768px) {
      width: 100%;
      width: 517px;
    }
    @media screen and (min-width: 1200px) {
      width: 933px;
    }
  }

  &__list {
    display: flex;
    gap: 50px;
    align-items: center;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__link {
    color: $comandname;
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
    @extend %text;
  }

  &__link:hover {
    color: $wathbtbg;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item {
    position: relative;
  }

  &__subactive::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 2px;
    width: 100%;
    margin-top: 27px;
    height: 4px;
    justify-content: center;
    background-color: $wathbtbg;
  }

  &__sublink {
    color: $headermail;
    @extend %text;
    display: flex;
  }
  &__sublist {
    display: flex;
    align-items: center;
    gap: 30px;

    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (max-width: 1199px) {
      flex-direction: column;
    }
    gap: 10px;
  }
  &__subicon {
    fill: $headermail;
    margin-right: 10px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }
  &__sublink:hover {
    color: $wathbtbg;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__sublink:hover &__subicon {
    fill: $wathbtbg;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
