.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/heroimg.webp);
  background-repeat: no-repeat;
  position: center, center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) {
    background-image: url(../image/phone/heroimg@phone-1x.webp);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../image/phone/heroimg@phone-2x.webp);
  }
  }
  @media screen and (min-width: 768px) {
    background-image: url(../image/table/heroimg@table-1x.webp);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../image/table/heroimg@table-2x.webp);
  }
  }
  @media screen and (min-width: 1200px) {
    background-image: url(../image/desktop/heroimg@desktop-1x.webp);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../image/desktop/heroimg@desktop-2x.webp);
  }
  }
  

  @media screen and (min-width: 320px) {
    padding-top: 118px; 
    padding-bottom: 118px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &__title {
    color: $pf-bg;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
    // animation: zoom-hero 2.5s infinite;
    @media screen and (max-width: 1199px) {
      max-width: 360px;
      font-size: 26px;
      font-weight: 900;
      line-height: 161.538%;
      letter-spacing: 1.56px;
      text-transform: uppercase;
    }
    @media screen and (min-width: 1200px) {
      width: 696px;
      font-size: 44px;
      font-style: normal;
      font-weight: 900;
      line-height: 136.364%;
      letter-spacing: 2.64px;
      text-transform: uppercase;
    }
  }

  &__button {
    color: $pf-bg;
    background-color: $wathbtbg;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 216px;
    height: 50px;
    @extend %text-product-name;
    line-height: 1.87;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
}
