.footer {
  background-color: $whatdobg;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;

  &__flex {
    display: flex;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      gap: 60px;
    }

    @media screen and (min-width: 768px) {
      flex-direction: column;
      gap: 60px;
    }
    @media screen and (min-width: 1200px) {
      flex-direction: row;
      gap: 93px;
    }
  }

  &__box {
    width: 232px;
    @media screen and (max-width: 768px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__table {
    @media screen and (min-width: 768px) {
      display: flex;
      gap: 165px; 
    }
    @media screen and (min-width: 1200px) {
      gap: 70px;
    }
  }

  &__address {
    color: $comandbg;
    margin-top: 20px;
    @extend %text;
    line-height: 1.71;
    font-style: normal;
    width: 207px;

    @media screen and (max-width: 1199px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__link {
    color: $comandtext;
    margin-top: 9px;
    @extend %text;
    line-height: 1.71;
    width: 134px;
  }
  &__link:hover {
    color: $wathbtbg;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__subitem {
    width: 135px;

    @media screen and (max-width: 1199px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__logo {
    color: $wathbtbg;
    margin-right: 93px;
    @extend %text-logo;
    font-family: Raleway;
    display: block;
    width: 154px;
    @media screen and (max-width: 1199px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__studio {
    color: $pf-bg;
  }
  &__subbox {
    margin-top: 5px;

    @media screen and (max-width: 767px) {
      margin-top: 60px;
    }
    @media screen and (max-width: 1199px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__subtext {
    color: $pf-bg;
    @extend %last-connect;
    text-transform: uppercase;
    margin-bottom: 20px;
    width: 115px;

    @media screen and (max-width: 1199px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__iconlist {
    display: flex;
    gap: 10px;
    width: 206px;

    @media screen and (max-width: 1199px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__iconitem {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
  }
  &__sublink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
  }
  &__icons {
    fill: $pf-bg;
    width: 20px;
    height: 20px;
  }
  &__iconitem:hover {
    background-color: $wathbtbg;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__form {
    padding-top: 12px;

    @media screen and (max-width: 1199px) {
      display: flex;
      flex-direction: column;
    }
  }
  &__subtitle {
    color: $pf-bg;
    @extend %last-connect;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
    @media screen and (max-width: 1199px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__subcontainer {
    display: flex;
    gap: 12px;
    @media screen and (max-width: 1199px) {
      flex-direction: column;
    }
  }

  &__subinput {
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0.01);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 15px 16px;
    color: $pf-bg;
    line-height: 1.25;
    @extend %text-button;
    @media screen and (max-width: 1199px) {
      margin-left: auto;
      margin-right: auto;
      max-width: 450px;
    }
    @media screen and (min-width: 1200px) {
      width: 358px;
    }
  }
  &__subinput:focus {
    outline: none;
    border: 1px solid $wathbtbg;
  }
  &__subinput::placeholder {
    color: $comandtext;
    @extend %text-button;
    line-height: 1.25;
  }
  &__subbutton {
    color: $pf-bg;
    line-height: 1.87;
    @extend %text-product-name;
    padding: 10px 28px;
    background-color: $wathbtbg;
    display: flex;
    width: 200px;
    gap: 10px;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    @media screen and (max-width: 1199px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__subbutton:hover,
  &__subbutton:focus {
    background-color: $wathbtbg;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__subicon {
    fill: $pf-bg;
  }
}
